
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "./../scss/style.scss";



#galery{

    

    h1{
        font-family: 'Anonymous Pro', monospace;
        font-weight: bold;
       
    }

    p{
        font-family: 'Anonymous Pro', monospace;
        font-size: 25px;
        
    }

    .images_galery:hover{
        opacity: 0.8;
        transform: scale(1.1);
        transition: 0.5s;
    }
    
    
}

