@import "./../../node_modules/bootstrap/scss/bootstrap.scss";





body{
    background-image: url("./../../public/assets/Background/fondo_rocksteady.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed;
    
}


.navbar1{
    
    background-color: rgba(15, 14, 14, 0.206);
    box-shadow: 0px 0px 10px black;
    font-family: 'Anonymous Pro', monospace;
    font-size: 25px;

    
   

    li:hover{
        width: 50%;
        background-color: rgba(0, 0, 0, 0.303);
        transition: 0.5s;
        
    }

    li > a:hover{
        color: white;
    }
    
    
}
.navbar2{
    background-color: rgba(255, 255, 255, 0.413);
    box-shadow: 0px 0px 10px black;


    ul > li{
        list-style: none;
        
    }
   

    a{
        text-decoration: none;
        color:black ;
    }
    a:hover{
        color: rgb(93, 97, 93);
        font-weight: bold;
    }
}

.menu-items{
    margin: 10px;
    text-decoration: solid;
    text-shadow: 1px 1px 1px black;

    
}




footer{
    font-family: 'Zen Kaku Gothic Antique', sans-serif;

    h5{
        font-weight: bold;
    }
}
.list2{
    float: left;
    margin: 5%;

    a{
        text-decoration: none;
        color:black ;
    }
    a:hover{
        color: rgb(93, 97, 93);
        font-weight: bold;
    }
}
















