@import "../../node_modules/bootstrap/scss/bootstrap.scss";

@import "./eventos.scss";
@import "./gallery.scss";
@import "./history.scss";
@import "./playlist.scss";
@import "./shop.scss";



body{
    background-image: url("./../../public/assets/Background/fondo_rocksteady.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed;
    
}
















//footer//
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer {
    
    font-family: 'Zen Kaku Gothic Antique', sans-serif;

}