@import "./../../node_modules/bootstrap/scss/bootstrap.scss";




body{
    background-image: url("./../../public/assets/Background/fondo_rocksteady.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed;
    
}
















//footer//
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer{
    background-color: rgba(255, 255, 255, 0.395);
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
   
    h5{
        font-weight: 700;
    }
} 


ul > li{
    list-style: none;
    

    a{
        text-decoration: none;
        color:black ;
    }
    a:hover{
        color: rgb(93, 97, 93);
        font-weight: bold;
    }
}
.list2{
    float: left;
    margin: 5%;
}

